body
{
    margin: 0;
    padding: 0;
    background-image: url("/static/ezo/img/meiji_site_pattern.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

@-moz-keyframes anim 
{
    0%  {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes anim 
{
    0%  {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes anim 
{
    0%  {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes anim 
{
    0%  {opacity:0;}
    100% {opacity:1;}
}

@keyframes anim 
{
    0%  {opacity:0;}
    100% {opacity:1;}
}

header
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #482618;
}
.menu
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 95%;
}

.menu a
{
    width: 16.50%
}

img
{
    max-width: 100%;
}

.logo
{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-direction: row;
}

.logo .image
{
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo .image img
{
    opacity:0;
    -moz-animation: anim 1s linear forwards 0.3s;
    -webkit-animation: anim 1s linear forwards 0.3s;
    -o-animation: anim 1s linear forwards 0.3s;
    -ms-animation: anim 1s linear forwards 0.3s;
    animation: anim 1s linear forwards 0.3s;
}

.histoire
{
    display: flex;
    justify-content: center;
}

#his
{
    opacity:0;
    -moz-animation: anim 0.5s linear forwards 0.1s;
    -webkit-animation: anim 0.5s linear forwards 0.1s;
    -o-animation: anim 0.5s linear forwards 0.1s;
    -ms-animation: anim 0.5s linear forwards 0.1s;
    animation: anim 0.5s linear forwards 0.1s;
}

.persoaffi
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    position: relative;
}
.choix-perso
{
    display: flex;
    flex-direction: column;
    align-self: center
}

#profperso
{
    padding-left: 3%;
    opacity:0;
    -moz-animation: anim 0.5s linear forwards 0.1s;
    -webkit-animation: anim 0.5s linear forwards 0.1s;
    -o-animation: anim 0.5s linear forwards 0.1s;
    -ms-animation: anim 0.5s linear forwards 0.1s;
    animation: anim 0.5s linear forwards 0.1s;
}

span
{
    cursor: pointer;;
}

span img
{
    width: 125px
}