{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="description" content="" />
    <link rel="stylesheet" href="{% static 'ezo/css/index.css' %}">
    <script src="{% static 'ezo/js/jquery.js' %}"></script>
    <script src="{% static 'ezo/js/index.js' %}"></script>
    <title>Accueil</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="{% url 'ezo_home' %}">
                <img src="{% static 'ezo/img/menu/meijiyuri_accueil_on.png' %}" alt="accueil">
            </a>
            <a href="{% url 'ezo_histoire' %}">
                <img id="histoire" src="{% static 'ezo/img/menu/meijiyuri_histoire_off.png' %}" alt="histoire">
            </a>
            <a href="{% url 'ezo_personnages' %}">
                <img id="perso" src="{% static 'ezo/img/menu/meijiyuri_perso_off.png' %}" alt="personnages">
            </a>
            <a href="{% url 'ezo_galerie' %}">
                <img id="galerie" src="{% static 'ezo/img/menu/meijiyuri_galerie_off.png' %}" alt="galerie">
            </a>
            <a href="{% url 'ezo_special' %}">
                <img id="special" src="{% static 'ezo/img/menu/meijiyuri_special_off.png' %}" alt="special">
            </a>
            <a href="{% url 'ezo_info' %}">
                <img id="info" src="{% static 'ezo/img/menu/meijiyuri_info_off.png' %}" alt="info">
            </a>
        </div>
    </header>
    <div class="logo">
        <div class="image">
            <img id="logo" src="{% static 'ezo/img/meiji_wa_yuri_logoHD.png' %}" alt="logo" width="1854px">
        </div>
    </div>
</body>
</html>